@import './reset.scss';
@import './variables.scss';

.movieCatalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__content {
        max-height: 86vh;
        overflow-y: scroll;

        &__tablet {
            max-height: 88vh;
            overflow-y: scroll;
        }

        &__desktop {
            background-color: red;
            height: calc(
                100vh - ($header-height__desktop + $pagination-height__desktop)
            );
            padding: 2vh 1vw;

            &__cards {
                width: 100%;
                height: 100%;
                margin: auto;
                background-color: green;
                display: flex;
                // flex-direction: row;
                flex-direction: column;
                // flex-wrap: wrap;
                gap: 10px;
                overflow-y: auto;

                &__card {
                    width: 600px !important;
                    height: 200px !important;
                    // height: 20%;
                    flex-grow: 1;
                }
            }
        }

        &__cards {
            display: flex;
            flex-direction: column;
            padding: 2vh 2vw;
            overflow-y: auto;

            &__desktop {
                background-color: red;
                flex-direction: row;
                row-gap: 10px;
                display: flex;
                flex-wrap: wrap;

                &__card {
                    margin-bottom: 2vh;
                    margin-right: 2vh;
                    width: 20%;
                }
            }

            &__card {
                margin-bottom: 2vh;
            }
        }
    }

    &__pagination {
        &__desktop {
            background-color: yellow;
        }
    }

    &__pagination {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999999999;
        width: 100%;
        background-color: white;
    }
}

.movieDetails {
    &__mobile {
        &__header {
            padding: 5vh 2vw;

            &__rating {
                &__head {
                    text-align: center;
                }
                &__main {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    max-width: 100vw;
                    overflow: hidden;

                    &__number {
                        margin-right: 15px;
                    }
                }

                &__sub {
                    font-weight: 200;
                    font-size: 12px;
                    text-align: center;
                }
            }
            &__title {
                text-align: center;

                &__main {
                    // margin-top: 1vh;
                    font-size: 36px;
                }

                &__sub {
                    font-size: 12px;
                }
            }
            &__genres {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin: 2vh 0;
            }
            &__overview {
                text-align: center;
                margin: 4vh 0;
            }
        }

        &__details {
            text-align: center;
            margin-bottom: 8vh;

            &__header {
                margin: 2vh 0;
            }
            &__budget {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 1vh;

                &__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    &__sub {
                        font-weight: 200;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.backButton {
    &__button {
        position: fixed !important;
        left: 5px !important;
        bottom: 5px !important;
        z-index: 999999999 !important;
    }
}

.viewportContainer {
    height: 100vh;
}

.errorMessage {
    &__mobile {
        width: 80% !important;
        position: fixed !important;
        top: 9vh !important;
        left: 10% !important;
    }
    &__desktop {
        // width: 80% !important;
        position: fixed !important;
        top: 5vh !important;
        right: 2vw !important;
    }
}

.container {
    &__mobile {
        max-width: 100vw;
        overflow-y: auto;
        height: 100vh !important;
        position: relative;
    }

    &__tablet {
        max-width: 100vw;
        overflow-y: auto;
        height: 100vh !important;
    }

    &__desktop {
        max-width: 100vw;
        overflow-y: auto;
        height: 100vh !important;
    }
}

.v-card--reveal {
    bottom: 0 !important;
    opacity: 1 !important;
    position: absolute !important;
    width: 100%;
}

.header {
    &__mobile {
        height: $header-height__mobile;
        width: 100%;
        position: relative;
        z-index: 999999;
        left: 0;
        top: 0;

        &__panel {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999999;

            &__input {
                position: relative;
                z-index: 999999;
            }
        }
    }

    &__desktop {
        text-align: center;
        height: $header-height__desktop;
        background-color: gray;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.history {
    &__mobile {
        &__table {
            max-height: 50vh;
            overflow-y: auto;
        }

        &__clear {
            margin-top: 2vh;
        }
    }
}
